langchain
langchain-community
langchain-openai
transformers
sentence-transformers
datasets
torch
chromadb
rank_bm25
langgraph
streamlit
gradio
python-dotenv
pydantic
scikit-learn
langchain-huggingface
langchain-chroma


sqlite3 >= 3.35.0.
