streamlit
langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-chroma
datasets
sentence-transformers
chromadb
python-dotenv
pydantic
rank-bm25
langgraph
scikit-learn
transformers
torch